In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
# import the weather data
print(os.getcwd())
weather_hour_df = pd.read_csv("BikeDatasets/weather_data_long.csv")

C:\Users\albre\bike_notebook\bike_machine_learning\DataSet_CSVs

In [3]:
# Print out the head
weather_hour_df.head()

,Date,Time,Temperature,DewPoint,Humidity,Wind,WinSpeed,WindGust,Pressure,Precip.,Condition
0,2002-01-01,12:53 AM,19,13,77,ENE,14,0,24.73,0.0,Cloudy
1,2002-01-02,12:53 AM,10,-3,56,SE,5,0,24.94,0.0,Mostly Cloudy
2,2002-01-04,12:53 AM,30,14,51,W,9,0,24.45,0.0,Partly Cloudy
3,2002-01-05,12:53 AM,25,18,75,CALM,0,0,24.74,0.0,Mostly Cloudy
4,2002-01-06,12:53 AM,23,9,55,SSE,13,0,24.74,0.0,Mostly Cloudy

In [4]:
# grab the datetime object
weather_hour_df["date_time"] = pd.to_datetime(weather_hour_df["Date"])
weather_hour_df["date_time_hour"] = pd.to_datetime(weather_hour_df["Time"])
time_dict = {"year":[], "month":[], "day":[], "hour":[]}

# Define methods for pulling out the desired parameters
def get_day_params(input_value):
    time_dict["year"].append(input_value.year)
    time_dict["month"].append(input_value.month)
    time_dict["day"].append(input_value.day)
    return input_value

def get_hour_params(input_value):
    time_dict["hour"].append(input_value.hour)
    
weather_hour_df["date_time"].apply(lambda l: get_day_params(l))
weather_hour_df["date_time_hour"].apply(lambda l: get_hour_params(l))

weather_hour_df.drop(["Date", "Time", "date_time", "date_time_hour"], axis=1, inplace=True)

for subdict in time_dict.keys():
    weather_hour_df[subdict] = time_dict[subdict]

In [7]:
# Read out the top information
weather_hour_df.head(50)

,Temperature,DewPoint,Humidity,Wind,WinSpeed,WindGust,Pressure,Precip.,Condition,year,month,day,hour
0,19,13,77,ENE,14,0,24.73,0.0,Cloudy,2002,1,1,0
1,10,-3,56,SE,5,0,24.94,0.0,Mostly Cloudy,2002,1,2,0
2,30,14,51,W,9,0,24.45,0.0,Partly Cloudy,2002,1,4,0
3,25,18,75,CALM,0,0,24.74,0.0,Mostly Cloudy,2002,1,5,0
4,23,9,55,SSE,13,0,24.74,0.0,Mostly Cloudy,2002,1,6,0
5,34,18,52,SSW,13,0,24.70,0.0,Partly Cloudy,2002,1,7,0
6,43,20,40,SW,15,0,24.57,0.0,Fair,2002,1,8,0
7,31,30,96,NE,12,0,24.67,0.0,Cloudy,2002,1,10,0
8,29,16,58,SSW,17,0,24.81,0.0,Fair,2002,1,11,0
9,31,17,57,CALM,0,0,24.87,0.0,Fair,2002,1,12,0
10,46,16,30,NW,23,0,24.23,0.0,Mostly Cloudy / Windy,2002,1,13,0
11,24,16,71,N,9,0,24.60,0.0,Fair,2002,1,14,0
12,19,17,92,ENE,9,0,24.73,0.0,Cloudy,2002,1,1,1
13,19,17,92,ENE,7,0,24.75,0.0,Cloudy,2002,1,1,2
14,8,5,87,SSE,8,0,24.94,0.0,Mostly Cloudy,2002,1,2,1
15,8,3,80,SSE,8,0,24.95,0.0,Mostly Cloudy,2002,1,2,2
16,8,1,73,S,10,0,24.94,0.0,Mostly Cloudy,2002,1,2,3
17,9,3,77,SSE,5,0,24.92,0.0,Mostly Cloudy,2002,1,2,4
18,6,4,91,SSW,3,0,24.91,0.0,Partly Cloudy,2002,1,2,5
19,9,7,92,SW,9,0,24.89,0.0,Partly Cloudy,2002,1,2,6
20,1,-2,87,S,7,0,24.92,0.0,Fair,2002,1,2,7
21,8,8,100,S,7,0,24.88,0.0,Fair,2002,1,2,8
22,14,9,80,SW,9,0,24.87,0.0,Fair,2002,1,2,9
23,19,9,65,SW,14,0,24.87,0.0,Fair,2002,1,2,10
24,25,12,58,SW,9,0,24.83,0.0,Fair,2002,1,2,11
25,27,14,58,W,9,0,24.46,0.0,Partly Cloudy,2002,1,4,1
26,29,17,61,WSW,9,0,24.46,0.0,Partly Cloudy,2002,1,4,2
27,30,17,59,SW,9,0,24.47,0.0,Partly Cloudy,2002,1,4,3
28,31,18,59,SW,9,0,24.47,0.0,Cloudy,2002,1,4,4
29,31,18,59,SSW,8,0,24.51,0.0,Mostly Cloudy,2002,1,4,5
30,29,20,69,SSE,7,0,24.54,0.0,Cloudy,2002,1,4,6
31,30,22,72,SSE,5,0,24.54,0.0,Mostly Cloudy,2002,1,4,7
32,29,18,64,SSE,6,0,24.56,0.0,Mostly Cloudy,2002,1,4,8
33,22,17,82,SSW,10,0,24.75,0.0,Partly Cloudy,2002,1,5,1
34,23,17,78,SSW,9,0,24.75,0.0,Partly Cloudy,2002,1,5,2
35,21,16,81,SSW,10,0,24.75,0.0,Fair,2002,1,5,3
36,22,17,82,SSW,12,0,24.74,0.0,Fair,2002,1,5,4
37,22,11,63,SSW,13,0,24.74,0.0,Fair,2002,1,5,5
38,21,15,78,SSW,13,0,24.75,0.0,Fair,2002,1,5,6
39,20,13,74,SSW,14,0,24.77,0.0,Fair,2002,1,5,7
40,22,11,63,SW,12,0,24.79,0.0,Fair,2002,1,5,8
41,26,14,60,SW,9,0,24.77,0.0,Partly Cloudy,2002,1,5,9
42,32,17,54,SSW,8,0,24.76,0.0,Partly Cloudy,2002,1,5,10
43,20,12,71,SSE,13,0,24.74,0.0,Mostly Cloudy,2002,1,6,1
44,20,13,74,SSE,10,0,24.76,0.0,Mostly Cloudy,2002,1,6,2
45,19,13,77,SSE,10,0,24.77,0.0,Partly Cloudy,2002,1,6,3
46,19,11,71,SSE,13,0,24.77,0.0,Fair,2002,1,6,4
47,21,9,60,S,13,0,24.77,0.0,Partly Cloudy,2002,1,6,5
48,22,17,82,S,12,0,24.78,0.0,Partly Cloudy,2002,1,6,6
49,17,12,81,S,7,0,24.80,0.0,Partly Cloudy,2002,1,6,7

In [10]:
# marry up the data to the original dataset for further consumption
input_bike_df = pd.read_csv("BikeDatasets/202107-capitalbikeshare-tripdata.csv")

In [11]:
input_bike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,FF02EE3AE115F951,classic_bike,2021-07-04 21:57:56,2021-07-04 22:00:43,8th & K St NE,31660.0,6th & K St NE,31645.0,38.902732,-76.995150,38.902932,-76.998405,member
1,EAD3303AA5518C14,classic_bike,2021-07-24 16:26:54,2021-07-24 16:44:57,8th & K St NE,31660.0,10th & U St NW,31111.0,38.902732,-76.995150,38.917200,-77.025900,member
2,4CAAF169950650A7,classic_bike,2021-07-17 21:00:02,2021-07-17 21:21:27,8th & K St NE,31660.0,10th & U St NW,31111.0,38.902732,-76.995150,38.917200,-77.025900,member
3,81FB30071EB24E2E,classic_bike,2021-07-14 15:51:33,2021-07-14 15:56:50,4th St & G St SW,31666.0,1st & K St SE,31628.0,38.881123,-77.017658,38.878854,-77.005727,member
4,6A2CB08293433418,classic_bike,2021-07-10 11:26:20,2021-07-10 11:32:00,Market Square / King St & Royal St,31042.0,Royal St & Wilkes St,31903.0,38.804718,-77.043363,38.799267,-77.044700,member